
<div>
    <label>Name</label>
    <input name="Name" value="<%= book.Name %>" type="text">
</div>
<div>
    <label>Title</label>
    <input name="Title" value="<%= book.Title %>" type="text">
</div>
<div>
    <label>ImageConver</label>
    <% if(book.CoverImageName!=null){%>
         <img src="<%=book.ImagePath%>">
    <%}%>
    <input name="CoverImageName" value="<%= book.CoverImageName %>" class="filepond" type="file">
</div>
<div>
    <label>Author</label>
    <select name="Author">
        <% authors.forEach(author=>{%>
             <% if(author.id==book.Author){%>
                   <option selected  label="<%= author.Name%>" value="<%=author.id%>"></option>
            <% }else{%>
           
                <option   label="<%= author.Name%>" value="<%=author.id%>"></option>
            <%}%>
        
        
        <%})%>
    </select>
   
</div>
<div>
    <label>PageCount</label>
    <input name="PageCount" value="<%= book.PageCount %>" type="number">
</div>
<div>
    <label>PublshDate</label>
    <input name="PublshDate" value="<%= book.PublshDate==null?'':book.PublshDate.toISOString().split('T')[0] %>" type="date">
</div>
<div>
    <label>Description</label>
    <textarea name="Description"  value="<%= book.Description %>"><%= book.Description %></textarea>
</div>