<section class="hero-wrap hero-wrap-2" style="background-image: url('/Content/Images/bg_5.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate mb-0 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="/">Home <i
                                class="fa fa-chevron-right"></i></a></span> <span>Authors<i
                            class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Authors</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
                <% authors.forEach(author=>{%>

                    <div class="col-md-6 col-lg-3 ftco-animate">
                                    <div class="staff">
                                        <div class="img-wrap d-flex align-items-stretch">
                                            <div class="img align-self-stretch" style="background-image: url(<%-author.ImagePath%>);">
                                            </div>
                                            
                                        </div>
                                        <div class="text pt-3 px-3 pb-4 text-center">
                                            <h3><%- author.Name%></h3>
                                            <div class="faded">
                                                <p><%- author.Description%></p>
                                                <a href="/Author/<%- author.id%>" class="btn btn-primary"><span class="flaticon-search"></span></a>
                                                <a href="/Author/<%- author.id%>/edit" class="btn btn-primary"><span class="fa fa-pencil-square-o"></span></a>
                                                <form style="display: inline-block;" action="/Author/<%-author.id%>?_method=DELETE" method="POST" id="DeletBook" >
                                                    <button class="btn btn-primary" type="submit"><i class="fa fa-trash-o"></i></button> 
                                                    
                                                </a>
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                <% } )%>
            
           
        </div>
    </div>
</section>

